Package: com.majood.tiktokspoof
Name: TikTokSpoof
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: My custom TikTok Tweak
Maintainer: Majood
Author: Majood
Section: Tweaks
